#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=QMidiPlayer
Version=1.5
GenericName=MIDI Player
Comment=QMidiPlayer is a midi file player based on Fluidsynth and Qt.
Exec=/usr/bin/qmidiplayer
Icon=org.chrisoft.qmidiplayer
Keywords=audio;sound;
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Terminal=false
